# OUTLIER (AYKIRI DEĞER) TESPİTİ ve VERİSETİNDEN TEMİZLENMESİ İŞLEMLERİ



Outlier, bir veriseti içerisindeki diğer gözlemlerden aykırı ve sapan gözlem veya veri değerdir.

Outlier Nedenleri?
- İnsan kaynaklı hatalar (hatalı veri girişi)
- Cihazlardan kaynaklanan hatalar (örneğin ölçüm cihazlarının nadiren de olsa yanlış değer ölçmesi)

In [1]:
import pandas as pd

df = pd.read_csv("outlier_ornek_veriseti.csv", sep=';')
df

      isim  boy
0      can   88
1      ali  132
2    tugce  134
3     ayse  137
4    nihan  139
5    sahin  142
6     kaan  142
7     emre  144
8    bartu  147
9   ismail  148
10  gokalp  149
11   osman  149
12   filiz  150
13    veli  207
14   ilker  234

In [5]:
df.describe()

              boy
count   15.000000
mean   149.466667
std     32.943386
min     88.000000
25%    138.000000
50%    144.000000
75%    149.000000
max    234.000000

### Q1 (%25 percentile hesaplama)

In [8]:
Q1 = df.boy.quantile(0.25)
Q1

138.0

### Q3 (%75 percentile hesaplama)

In [11]:
Q3 = df.boy.quantile(0.75)
Q3

149.0

In [13]:
#Median
Q2 = df.boy.quantile(0.50)
Q2

144.0

In [15]:
IQR_degeri = Q3 - Q1
IQR_degeri

11.0

### Alt Limit ve Üst Limit Hesaplama

In [18]:
alt_limit = Q1 - 1.5*IQR_degeri

In [20]:
alt_limit

121.5

In [22]:
ust_limit = Q3 + 1.5*IQR_degeri

In [24]:
ust_limit

165.5

### Alt ve Üst Limitleri Hesapladığımıza Göre Verisetimizdeki Outlier (Aykırı) Değerleri Bulabiliriz:

In [27]:
df[(df.boy < alt_limit) | (df.boy > ust_limit)]

     isim  boy
0     can   88
13   veli  207
14  ilker  234

#### Bu değerler Outlier değerleridir. İstatistiksel hesaplamalarımızın (ve tabiki bir çok yapay zeka algoritmasının) daha verimli ve etkin çalışabilmesi ve doğru sonuçlar üretebilmesi için Outlier değerleri verisetimizden çıkaracağız..

### Outlier Değerlerinin Verisetimizden Çıkarılması

In [ ]:
df_outlier_filtrelenmis = df[(df.boy > alt_limit) & (df.boy < ust_limit)]

In [ ]:
df_outlier_filtrelenmis